@import "../../../../resources/sass/variables/colors";
@import "../../../../resources/sass/variables/timings";

.gl-m-button-link-info {

	p {
		margin: 0;
	}

	.title {
		font-family: Matteo, sans-serif;
		font-weight: 400;
		font-size: 32px;
		line-height: 36px;
		letter-spacing: -1px;
		color: $primary-red-01;
	}

	.description {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.25px;
		color: $secondary-grey-02;
	}

	.btn-container {
		display: flex;
		justify-content: right;
		align-items: center;
	}
}
