.stacked-flyout-menu-header {

	@include gl-menu-style;
}

.constrained {

	@include gl-menu-style;
}

header.dark {
	background-color: $dark-bg;

	li,
	a {
		color: $white;
	}

	.drawer .content {
		background-color: $dark-bg;
	}

	.mobile-menu-container {

		li a:hover {
			background-color: $dark-hover;
		}
	}
}

@media screen and (max-width: 1023px) {

	header.dark a:hover {
		background-color: $dark-hover;
	}
}
