html,
body {
	font-family: Graphik, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.25px;
}

h1 {
	font-family: Matteo, sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 50px;
	letter-spacing: -2px;
}

h2 {
	font-family: Matteo, sans-serif;
	font-weight: 500;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: -1.5px;
}

h3 {
	font-family: Matteo, sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: -1px;
}

h6 {
	font-family: Matteo, sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.25px;
}
