@import "../../../../resources/sass/variables/colors";
@import "../../../../resources/sass/variables/timings";

.gl-card {
	border-radius: 6px;
	overflow: hidden;
	display: inline-block;
	box-shadow: 0 6px 24px rgba(0, 0, 0, 0.05);
	transition: $transition;

	.card-body {
		padding: 36px 20px;
		border-top: 4px solid $primary-red-01;
		transition: $transition;

		p {
			margin: 0;
		}

		.title {
			font-family: Matteo, sans-serif;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: -0.5px;
			color: $primary-red-01;
		}

		.description {
			margin-top: 12px;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.25px;
			color: $secondary-grey-02;
		}
	}
}

.gl-card-link {

	&:hover .gl-card {
		box-shadow: 0 16px 48px rgba(0, 0, 0, 0.3);

		.card-body {
			background-color: $primary-red-01;

			.title {
				color: $white;
			}

			.description {
				color: $white;
			}
		}
	}
}
