#stacked-flyout-menu {

	@apply lg:flex lg:gap-x-12;

	.menu-image {

		@apply h-5 w-5 p-0;
	}

	li {

		@apply p-0 inline-block relative;
	}

	.menu-image-title-before.menu-image-title {

		@apply p-0;
	}

	.sub-menu {
		transition: all 0.2s;
		transform: translateY(10px);
		opacity: 0;
		visibility: hidden;
		z-index: 0;

		a {

			@apply relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50;

			.menu-image {

				@apply h-7 w-7;
			}

			.title {

				@apply block font-semibold text-gray-900;
			}
		}
	}

	.show-sub-menu {
		transform: translateY(0);
		display: block;
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
}

#mobile-stacked-flyout-menu {

	li {

		.menu-image,
		.menu-item-description {

			@apply hidden;
		}
	}

	.sub-menu {

		@apply relative ring-0 rounded-none top-0 shadow-none;
	}
}
