:root {
	margin-top: 0 !important;
}

.page-template-block-preview {

	#masthead,
	#colophon,
	#secondary,
	#wpadminbar {
		display: none;
	}

	div[class^="gl-b-"],
	section[class^="gl-b-"] {
		display: block;
		border: 1.5px solid $gray-200;
		border-radius: 8px;
	}

	.nav-in-hero {
		border: none !important;
	}
}

.page-template-page-transition {

	#masthead,
	#colophon,
	#secondary,
	#wpadminbar {
		display: none;
	}

	.nav-in-hero {
		border: none !important;
	}
}
