:root {
	margin-top: 0 !important;
}

.page-template-block-preview {

	#masthead,
	#colophon,
	#secondary,
	#wpadminbar {
		display: none;
	}

	div[class^="gl-b-"],
	section[class^="gl-b-"] {
		display: block;
		border: 1px solid $gray-70;
	}
}
