$primary-red-01: #d92e27;
$primary-red-02: #a20a04;
$primary-red-03: #600400;

$secondary-grey-01: #97999b;
$secondary-grey-02: #8797a5;
$secondary-grey-02: #919191;

$background-grey: #f8f9fa;

$grey-01: #222423;
$grey-02: #202427;
$grey-03: #55595b;
$grey-04: #98999b;
$grey-05: #a8a9ab;

$white: #fff;
