.geshi.php {
	border: none;

	/* methods		*/
	.me0,
	.me1,
	.me2 {
		color: #7dd3fc; /* stylelint-disable-line */
	}

	/* brackets */
	.kw5 {
		color: #7dd3fc; /* stylelint-disable-line */
	}

	/* keywords		*/
	.kw1,
	.kw2,
	.kw3,
	.kw4 {
		color: #818cf8; /* stylelint-disable-line */
	}

	/* operators		*/
	.sy0 {
		color: #fff; /* stylelint-disable-line */
	}

	/* strings		*/
	.st0,
	.st-h {
		color: #6ee7b7; /* stylelint-disable-line */
	}

	/* variables		*/
	.re0,
	.re1,
	.re2,
	.re3,
	.re4,
	.re5 {
		color: #818cf8; /* stylelint-disable-line */
	}
}

.geshi.html5 {
	border: none;

	.sc2 {
		color : #64748b; /* stylelint-disable-line */
	}

	.de1,
	.de2,
	.de3,
	.de4 {
		color:#fff !important; /* stylelint-disable-line */
		font-size: 14px;
	}

	/* methods		*/
	.me0,
	.me1,
	.me2 {
		color: #7dd3fc; /* stylelint-disable-line */
	}

	/* brackets */
	.kw5 {
		color: #7dd3fc; /* stylelint-disable-line */
	}

	.kw3 {
		color: #cbd5e1; /* stylelint-disable-line */
	}

	/* keywords		*/
	.kw1,
	.kw2,
	.kw4 {
		color: #f472b6; /* stylelint-disable-line */
	}

	/* operators		*/
	.sy0 {
		color : #64748b; /* stylelint-disable-line */
	}

	/* strings		*/
	.st0,
	.st-h {
		color: #7dd3fc; /* stylelint-disable-line */
	}

	/* variables		*/
	.re0,
	.re1,
	.re2,
	.re3,
	.re4,
	.re5 {
		color: #818cf8; /* stylelint-disable-line */
	}
}
